:root {
  --fs-50: 50px;
  --fs-20: 25px;
  --fs-18: 18px;
  --fs-14: 14px;
  --fs-16: 16px;
  --fs-45: 45px;
  --fs-1r: 1rem;

  --light: #dbd8e3;
  --light-purple: #5c5470;
  --middle-purple: #352f44;
  --dark-purple: #2a2438;

  --yellow: #f2b137;
  --yellow-shadow: #cc8b13;
  --yellow-hover: #ffc860;

  --scroll-navbar-bg: #06091880;
  --scroll-navbar-border: rgb(46 54 79 / 1);

  --light-yellow: #fdfdcb;
  --background-dark: #1a2a33;
  --light-purple: rgb(150 161 192 / 1);

  --red-color: rgb(255 46 91 / 1);
  --normal-font-size: 0.875rem;
  --normal-line-height: 1.25rem;
  --border-color: rgb(46 54 79 / 1);
  --normal-bg: rgb(6 9 24 / 1);
  --normal-color: rgb(255 254 249 / 1);

  --input-bg: rgb(22 26 44 / 1);
  --btn-color-white: #fffef9e6;
  --border-bg: #6919ff1a;
  --opacity-color: rgb(150 161 192 / 1);
  --primary-bg: rgb(105 25 255 / 1);
  --primary-color: rgb(105 25 255 / 1);
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--normal-bg);
}

html {
  scroll-behavior: smooth;
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
.container {
  padding: 10px 5%;
  overflow: hidden;
}

.page {
  animation: slideLeftPage 1.5s ease-in-out forwards;
}

/* ANİMATİONS */

.active {
  opacity: 1;
  animation: part1 1s ease forwards;
  animation-delay: calc(0.1s * var(--i));
}
.active-btn {
  opacity: 1;
  animation: part1 1s ease forwards;
  animation-delay: calc(0.1s * var(--i));
}
.active-input {
  opacity: 1;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.1s * var(--i));
}
.animation-form {
  opacity: 0;
}
.part1 {
  animation: part1 1s ease forwards;
  animation-delay: 0.3s;
  opacity: 0;
}
.part1-early {
  animation: part1 1s ease forwards;
  animation-delay: 0.1s;
  opacity: 0;
}
.part2 {
  animation: part2 0.7s ease forwards;
  animation-delay: 0.1s;
  opacity: 0;
}

@keyframes part1 {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes part2 {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideLeftPage {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* YUKARI ÇIKMA */
.up {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 50px;
  right: 40px;
  z-index: 99;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.up svg {
  transition: all 0.5s ease;
}

.up:hover svg {
  stroke: var(--red-color);
  stroke-width: 2;
}

/* LOADİNG */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--normal-bg);
  z-index: 999999999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  border: 12px solid var(--border-bg);
  border-top: 8px solid var(--primary-bg);
  font-size: 50px;
  font-weight: bold;
  color: var(--primary-bg);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.page-detail {
  animation: slideLeftPage 1s forwards;
}
/* HEADER */
.desktop {
  display: block;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 20px;

  & .begumirci {
    text-decoration: none;

    color: var(--primary-color);
    align-self: flex-end;
    animation: slideLeft 1s ease forwards;
    animation-delay: 0.4s;
    opacity: 0;
    transition: color 0.3s ease-out;
    &:hover {
      color: var(--light-purple);
    }
  }
}

.parallax1 {
  background-color: var(--normal-bg);
  min-height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.navbar {
  position: fixed;
  top: 0;
  left: 50%;
  margin-top: 16px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateX(-50%);
  border: 1px solid transparent;
  background-color: transparent;
  transition: background-color 0.9s ease;
  border-radius: 1000px;
  padding-block: 8px;
  padding-inline: 20px;
  z-index: 900000;

  & .helloworld {
    font-size: 0.875rem;
    line-height: 1.25;
    color: rgb(255 254 249 / 1);
    text-decoration: none;

    position: relative;
    text-transform: uppercase;
    transition: 0.3s all;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(0.2s * var(--i));
    opacity: 0;

    transition: color 0.3s ease-in;
    &:hover {
      color: var(--primary-color);
    }
  }

  & ul {
    display: flex;
    align-items: center;
    justify-content: center;

    & li {
      margin: 10px 10px;
      display: inline-block;

      & a {
        display: inline-block;
        font-size: 0.875rem;
        line-height: 1.25;
        color: rgb(255 254 249 / 1);
        text-decoration: none;
        padding-bottom: 4px;
        position: relative;
        text-transform: uppercase;
        transition: 0.3s all;
        animation: slideLeft 1s ease forwards;
        animation-delay: calc(0.2s * var(--i));
        opacity: 0;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          transform: scaleX(0);
          height: 1px;
          background-color: var(--light);
          border-radius: 5px;
          clip-path: polygon(
            0% 0%,
            20% 50%,
            0% 100%,
            100% 100%,
            80% 50%,
            100% 0%
          );
          box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
          transition: all 0.5s ease;
        }

        &:hover::after {
          transform: scaleX(1);
          width: 100%;
        }
      }
    }
  }
}
.navbar-bg {
  backdrop-filter: blur(12px);

  background-color: var(--scroll-navbar-bg) !important;
  border-color: var(--scroll-navbar-border) !important;
}
.header-text {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-block: 15rem;
  text-align: center;
  overflow: hidden;

  & h1 {
    color: var(--light);
    text-align: center;
    font-weight: 900;
    font-size: 6rem;

    & span {
      text-shadow: 0px -10px 0px transparent;
    }
  }
}

.cv {
  position: relative;
  padding: 16px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}

.cv:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  display: block;
  border-radius: 50px;
  background: var(--primary-bg);
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cv a {
  position: relative;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: var(--normal-color);
  letter-spacing: 3px;
  text-decoration: none;
}

.cv:hover:before {
  width: 100%;
  background: var(--primary-bg);
}

.cv:active {
  transform: scale(0.95);
}

.social-media {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  margin-top: 4rem;
}

.logos {
  display: flex;
  align-items: center;
  gap: 1rem;
  & a {
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(0.2s * var(--i));
  }
}

.social-media a svg {
  width: 40px;
  height: 40px;
}

.social-media a svg path {
  transition: fill 0.3s ease, transform 0.3s ease;
}

.social-media a svg:hover path {
  fill: var(--primary-color);
  transform: scale(1.1) translateY(-4px);
}

/* HAKKIMDA SAYFASI */
.parallax2-div {
  position: relative;
  inset: 2;
}
.parallax2 {
  background-image: url('../public/images/sky.jpg');

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#text-change {
  overflow: hidden;
  border-right: 0.15em solid var(--yellow);
  white-space: nowrap;
  margin: 0 auto;
}
.avatar {
  width: 30%;
  height: auto;
}
.about-div {
  display: flex;
}

.about {
  color: #fff;

  & h2 {
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: var(--normal-color);

    & span {
      font-size: 40px;
    }
  }
}

.about-me {
  color: var(--opacity-color);
  letter-spacing: normal;
  margin-top: 1.5rem;
  font-size: var(--fs-18);
  line-height: 1.625;
}

.show {
  animation: slideLeft 1s ease forwards;
}

.etiket {
  display: inline-block;
  border-color: #6919ff4d;
  background-color: #6919ff1a;
  font-size: 20px;
  margin-top: 5rem;
  padding-inline: 1rem;
  border-radius: 1000px;
  padding-block: 0.7rem;
  color: var(--primary-color);
  backdrop-filter: blur(8px);
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* ÖĞRENDİKLERİM SAYFASI */
.learn-things {
  background-color: var(--normal-bg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 7%;
  z-index: 99999;
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 5rem;
  column-gap: 6rem;
  margin-top: 5rem;

  & img {
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}

/* PORTFOLYO SAYFASI */
.portfolio {
  background-image: url('../public/images/sky.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  padding-bottom: 200px;

  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  align-items: center;
  margin-top: 4rem;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10px;
    transition: transform 0.8s;
  }
}

.layer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
  color: var(--normal-color);
  text-align: center;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  background: linear-gradient(
    to bottom,
    var(--primary-color),
    var(--primary-color),
    rgba(0, 0, 0, 0.5)
      /* rgba(0, 0, 0, 0.05),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5) */
  );
  backdrop-filter: blur(4px);
  transition: height 0.8s;
  cursor: pointer;
  text-decoration: none;
  color: var(--normal-color);
}

.work:hover .layer {
  height: 100%;
  width: 100%;
}
/* .work:hover img {
  transform: scale(1.1);
} */
/* İLETİŞİM SAYFASI*/
.contact {
  background-image: url('../public/images/sky.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.form-container {
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container .input-div {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-container .input-div label {
  display: block;
  margin-bottom: 5px;
  color: var(--opacity-color);
  font-weight: 600;
  font-size: var(--fs-14);
}

.form-container input {
  padding-inline: 1rem;
  padding-block: 1rem;
  border-radius: 4px;
  color: var(--normal-color);
  font-family: inherit;
  background-color: var(--input-bg);
  border: 1px solid var(--border-color);
}

.form-container textarea {
  padding-inline: 1rem;
  padding-block: 1rem;
  border-radius: 4px;
  resize: none;
  color: #fff;
  height: auto;
  border: 1px solid var(--border-color);
  background-color: var(--input-bg);
}

.input:focus {
  outline: none;
  outline-color: var(--primary-color);
  box-shadow: 0px 0px 3px 3px var(--primary-bg);
  transition: 0.1s;
  transition-property: box-shadow;
}

.my-mail {
  color: var(--red-color);
  margin-top: 10px;
  cursor: pointer;

  &:hover {
    color: rgb(255, 66, 91);
  }
}

.btn {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: var(--normal-bg);
  transition: all 800ms;
  position: relative;
  overflow: hidden;
  outline: 2px solid var(--normal-bg);
  width: calc(100% + 1.5rem);
  padding-block: 0.75rem;
  padding-inline: 1rem;

  & a {
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--normal-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    transition: color 800ms;

    & .eye path {
      transition: fill 800ms;
    }
  }
}

.btn:hover {
  color: var(--btn-color-white);
  transform: scale(1);
  outline: 2px solid var(--btn-color-white);
  /* box-shadow: 4px 5px 17px -4px var(--normal-bg); */
  & a {
    color: var(--btn-color-white);
    & .eye path {
      fill: var(--btn-color-white);
    }
  }
}

.btn::before {
  content: '';
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--normal-bg);
  transform: skewX(45deg);
  z-index: -1;
  transition: width 800ms;
}

.btn:hover::before {
  width: 200%;
  & a {
    color: var(--btn-color-white);
    & .eye path {
      fill: var(--btn-color-white);
    }
  }
}
/* MOBİL HEADER */
.mobil-navbar {
  position: fixed;
  top: 0;
  left: 50%;
  margin-top: 16px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateX(-50%);
  border: 1px solid transparent;
  background-color: transparent;
  transition: background-color 0.9s ease;
  border-radius: 1000px;
  padding-block: 15px;
  padding-inline: 20px;
  z-index: 900000;

  & .helloworld {
    color: var(--normal-color);
    font-weight: bold;
    font-size: 0.876rem;
    animation: slideLeft 1s ease forwards;
    opacity: 0;
    text-decoration: none;

    &:hover {
      color: var(--primary-color);
    }
  }
}

.mobil-all {
  background-color: #060918e6;
  backdrop-filter: blur(4px);
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 9999;
}

.mobil-navbar-list {
  padding-block: 2rem;
  margin-top: 53px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  & li {
    padding-block: 1rem;
    border-bottom: 1px solid rgb(46 54 79 / 1);
    & a {
      color: rgb(199 208 229 / 1);
      text-decoration: none;
      text-transform: uppercase;
      padding-inline-start: 0.5rem;
      font-size: 14px;
    }
  }
}

.none {
  display: none;
}

.block {
  display: block;
}

.menu {
  height: 1000px;
  width: 100%;
}

.menu-toggle {
  position: relative;
  width: 40px;
  height: auto;
  cursor: pointer;
}

.menu-icon {
  position: relative;
  width: 100%;
  height: 100%;
}

.bar {
  position: absolute;
  width: 60%;
  height: 3px;
  border-radius: 999px;
  background-color: var(--normal-color);
  transition: transform 0.3s ease;
}

.bar:nth-child(1) {
  top: -10px;
}
.bar:nth-child(2) {
  top: 8px;
}
.bar:nth-child(3) {
  top: -1px;
}

.open .bar:nth-child(1) {
  top: -2px;
  transform: rotate(45deg);
}

.open .bar:nth-child(3) {
  opacity: 0;
}

.open .bar:nth-child(2) {
  top: -2px;
  transform: rotate(-45deg);
}
.mobil {
  display: none;
}
.parallax {
  background-image: url('../public/images/sky.jpg');
  min-height: 1000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

/* HELPER SAYFASI */
.explanation {
  margin-inline: auto;
  margin-top: 7rem;
}
.back-home {
  color: #fffef9e6;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 100px;
  transition: color 0.3s ease-in;
  white-space: nowrap;

  & .icon path {
    transition: fill 0.3s ease-in;
  }

  &:hover .icon {
    transform: translateX(-5px);
    & path {
      fill: var(--primary-color);
    }
  }
  &:hover {
    color: var(--primary-color);
  }
}
.icon {
  width: 24px;
  height: 24px;
  transition: transform 0.5s;
}
.main-ss-container {
  max-width: 800px;
}
.main-ss-container img {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
.main-ss {
  border-radius: 8px;
}
.explanation-text {
  margin-top: 1rem;
  color: var(--normal-color);

  & h1 {
    font-size: 3rem;
    line-height: 1;
  }
  & p {
    margin-top: 2rem;
    font-size: 1rem;
    line-height: 1.625;
    max-width: 78ch;
    color: #fffef9e6;
  }
}
.gradient-line {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: linear-gradient(to right, rgb(255 254 249 / 0.4), transparent);
  height: 2px; /* Çizgi yüksekliği */
  width: 100%; /* Çizgi genişliği */
}
.eye {
  width: 20px;
  height: 20px;
}
.property-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.project-property {
  text-decoration: none;
  & li {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    gap: 12px;
    &:first-child {
      margin-bottom: 2.5rem;
    }
    & h5 {
      color: var(--btn-color-white);
      font-size: 2rem;
    }

    & span {
      color: var(--btn-color-white);
      font-size: 1.2rem;
      & a {
        color: var(--red-color);
        text-decoration: none;
        transition: opacity 0.3s ease-in;
        &:hover {
          opacity: 0.9;
        }
        &:active {
          color: var(--yellow-shadow);
        }
      }
    }
  }
}
.images {
  background-image: url('../public/images/duman.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  overflow: hidden;
}
/* .flex {
  gap: 10px;
  & .page-ss {
    width: 50%;
    height: auto;
    border-radius: 12px;
  }
} */
.page-ss {
  width: 100%;
}

.all-explanation {
  margin-top: 3rem;
  display: flex;

  gap: 5%;
  margin-bottom: 50px;
}

@media only screen and (max-width: 1100px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 5rem;
  }
  .project-property {
    & li {
      & span {
        font-size: 1rem;
      }
    }
  }
  .explanation-text {
    & h1 {
      font-size: 2.25rem;
      line-height: 2.25rem;
    }
    & p {
      margin-top: 1rem;
      font-size: 1rem;
      line-height: 1.625;
      max-width: 100ch;
      color: #fffef9e6;
    }
  }

  .all-explanation {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 20%;
  }
  .mobil {
    display: block;
  }
  .desktop {
    display: none;
  }
  .etiket {
    margin-top: 4rem;
  }
  .container {
    padding-inline: 2rem;
  }
  /* ANASAYFA */
  .header-text {
    & h1 {
      font-size: 4.5rem;
    }
  }
  .avatar {
    margin: auto;
    width: 100%;
    border-radius: 8px;
  }
  /* HAKKIMDA */
  .about-div {
    flex-direction: column;
  }

  .about {
    margin-left: 1rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
  }

  .about-me {
    font-size: 1rem;
  }
  /* ÖĞRENDİKLERİM */
  .learn-things {
    background-color: var(--normal-bg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99999999;
  }

  .links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 5rem;
    column-gap: 4rem;
    margin-top: 2rem;

    & img {
      width: 50px;
      height: 50px;
      opacity: 0;
    }
  }
  .carousel-container {
    width: 70%;
    height: auto;
    margin-top: 2rem;
  }

  /* İLETİŞİM */

  .form-container {
    width: 91.666667%;
    margin-inline: auto;
  }

  .form-container textarea {
    padding-inline: 1rem;
    padding-block: 1rem;
    border-radius: 4px;
    resize: none;
    color: #fff;
    height: auto;
    border: 1px solid var(--border-color);
    background-color: var(--input-bg);
  }

  .input:focus {
    outline: none;
    color: var(--primary-bg);
    outline-color: var(--primary-color);
    box-shadow: 0px 0px 3px 3px var(--primary-bg);
    transition: 0.1s;
    transition-property: box-shadow;
  }

  .my-mail {
    color: var(--red-color);
    margin-top: 10px;
    cursor: pointer;

    &:hover {
      color: rgb(255, 66, 91);
    }
  }
  .btn {
    width: 400px;
  }
}
@media only screen and (max-width: 767px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .explanation {
    margin-top: 5rem;
  }
  /* ANASAYFA */
  .parallax1 {
    min-height: 800px;
    overflow: hidden;
  }
  .header-text {
    & h1 {
      font-size: 3rem;
    }
  }
  .social-media a svg {
    width: 30px;
    height: 30px;
  }

  .cv:before {
    width: 40px;
    height: 40px;
  }
  .cv span {
    font-size: 0.875rem;
    letter-spacing: 0px;
    white-space: nowrap;
  }
  .cv a {
    font-size: 0.875rem;

    letter-spacing: 0.05em;
    color: var(--normal-color);
    white-space: nowrap;

    text-decoration: none;
  }
  /* ÖĞRENDİKLERİM */
  .links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 3rem;
    column-gap: 3rem;
    margin-top: 3rem;

    & img {
      width: 70px;
      height: 70px;
    }
  }
  .cards {
    margin-top: 3rem;
  }
  .about {
    & h2 {
      margin-top: 2rem;
      & span {
        font-size: 22px;
      }
    }
  }
  /* PORTFOLYO */

  /* İLETİŞİM */
  .form-container,
  label {
    font-size: 12px !important;
  }
  .btn {
    width: 100%;
    align-self: center;
  }
  .contact {
    gap: 5px;
  }
}
